*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  background: transparent;
  color: inherit;
  list-style: none;
}

html {font-size: 62.5%;}

button, input {
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
}

/* screenreader only accessibility class */
.sr-only {
  position:absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow:hidden;
  clip: rect(0,0,0,0);
  border: 0;
  white-space: nowrap;
}