/*** NAV BAR ***/
.h-nav__wrapper {
  max-width: 128rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;

  position:absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 5rem;

  .l-layout__content--common & {
    position:relative;
    margin: 0 auto;
  }
}

.l-layout__content--common ~ .h-nav__wrapper {
    position:absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 10rem;
}

.h-nav__content {
  display:flex;
  justify-content: space-between;
  font-family: $san-serif;
}

.h-nav__logo {
  font-size: 3rem;
  font-weight: $bold;
  text-transform: uppercase;
}

.h-nav {
  font-size: 2rem;
}

.h-nav__item {
  padding: 0 2rem;
}

.h-nav__item--active {}


/*** HERO HEADER ***/
.c-header--hero {
  background: $mint;
}

  .c-header--hero__content {
    padding-top: 10rem;
    padding-bottom: 10rem;
    max-width: 128rem;
    width: 100%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;

    .c-header--hero__content__text {
      max-width: 50%;
    }
  }

  .c-header--hero__content__button {
    margin-top: 3rem;
  }

  .c-header--hero__imagewrapper {
    flex: 1 1 calc(50% - 2rem);
    flex-basis: calc(50% - 2rem);
    max-width: calc(50% - 2rem);
    display:block;
    object-fit: cover;

    & img {
      display:block;
      width: 100%;
    }
  }

  .c-header-wavewrap {

    svg {
      width: 100%;
      transform: rotate(180deg);
      fill: $mint;
    }
  }

/** Project Panel **/
.c-projects__wrapper {
  padding-left: 6rem;
  padding-right: 6rem;
  // display:flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // gap: 2rem 2rem;
  // align-items: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 2rem 2rem;

}

.c-panel {
  color: $navy;
  border: .3rem solid $navy;
  padding: 3rem;
  position:relative;

  &:first-child {
    margin-top: 0;
  }

  &:nth-child(2) {
    margin-top: 15vw;
  }
  &:nth-child(3) {
    margin-top: -10vw
  }

  &::after {
    display:block;
    position:absolute;
    background: $navy;
    width: 100%;
    height: 100%;
    top: 1rem;
    left: -1rem;
  }
}

.c-panel__heading {
  font-family: $display-san-serif;
  font-size: 3rem;
}

.c-panel__imagewrapper {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 35rem;
  overflow: hidden;

  .c-panel__heading + & {
      margin-top: 2rem;
  }

  & img {
    display:block;
    width: 100%;
  }
}

.c-panel__tags {
  display:flex;
  flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
  margin-top: 2rem;
}

.c-panel__tags__item {
  background-color: $mint;
  border-radius: .3rem;
  margin: 0 .5rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.c-panel__tags__item__label {
  padding: .5rem 1rem;
  font-size: 1rem;
}

.c-panel__summary {
  margin-top: 2rem;
}

.c-panel__actions {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.c-panel__btn{
  max-width: 50%;
  width: 100%;
  // margin: 0 -2rem;
}

/* Prototype shots */

.c-practice__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 2rem 2rem;

  margin-top: 2rem;
}

.c-prototype {
  border: 3px solid $navy;
  display:flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.c-prototype__icon {
  position: absolute;
  opacity: 0.5;
  font-size: 15rem;
  top: 50%;
  transform: translateY(-50%);
  left: -10%;
  color: $white;
}

.c-prototype__content {
  padding: 2rem;
  max-width: 85%;
}
.c-prototype__actions {
  display: flex;
  justify-content: flex-end;
}
/** Footer **/
.f-footer {}
.f-footer__credit {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  position:relative;
  color: $white;

  display:flex;
  justify-content: space-between;

}

.c-footer__links {
  display: flex;
}