.l-page {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.l-page__content {
  flex: 1 1 auto;
  position: relative;
  z-index: 0;
  display: block;
}

.l-layout__content--common,
.l-layout__content--hero {
  position:relative;
  display:flex;
  flex-direction: column;
  align-content: flex-start;
}

.e-wrapper {
}

.e-section {
  display: block;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.e-section__content {
  max-width: 128rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  font-size: 1.8rem;
  line-height: 1.7;
  font-family: $san-serif;
}

.e-section--green {
  background: $mint;
}

.e-section--rose {
  background: $rose;
  color: $white;
}

.e-section--navy {
  background: $navy;
  color: $white;
}

.e-section--white {
  background: $white;
}

.e-section--marigold {
  background: $marigold;
}

.e-button{
  border:3px solid $navy;
  padding: 1rem 2rem;
}

// And from the left
.e-button:hover,
.e-button:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}