/* My Responsive Breakpoint manager */
@mixin respond($breakpoint){
    @if $breakpoint == phone{
        @media(min-width:480px){@content;}
    }

    @if $breakpoint == tab-portrait{
        @media(min-width:768px){@content;}
    }

    @if $breakpoint == tab-landscape{
        @media(min-width:960px){@content;}
    }

    @if $breakpoint == desktop{
        @media(min-width:1200px){@content;}
    }
}