@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu&display=swap');

$mint: #85c3be;
$dark-mint: #72a6a2;
$navy: #000746;
$black: #000000;
$cloudy: #76a6c8;
$lite-cloudy: #cbe7fa;
$marigold: #f6be6b;
$rose: #d4556b;
$white: #ffffff;

$display-san-serif: 'Ubuntu', sans-serif;
$san-serif: 'Oxygen', sans-serif;

$bold: 700;
$regular: 500;
$light: 300;

$fast: 0.3s;
$slow: 0.4s;

