@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  background: transparent;
  color: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;
}

button, input {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
}

/* screenreader only accessibility class */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

/* My Responsive Breakpoint manager */
.l-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.l-page__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 0;
  display: block;
}

.l-layout__content--common,
.l-layout__content--hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.e-section {
  display: block;
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.e-section__content {
  max-width: 128rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.8rem;
  line-height: 1.7;
  font-family: "Oxygen", sans-serif;
}

.e-section--green {
  background: #85c3be;
}

.e-section--rose {
  background: #d4556b;
  color: #ffffff;
}

.e-section--navy {
  background: #000746;
  color: #ffffff;
}

.e-section--white {
  background: #ffffff;
}

.e-section--marigold {
  background: #f6be6b;
}

.e-button {
  border: 3px solid #000746;
  padding: 1rem 2rem;
}

.e-button:hover,
.e-button:focus {
  -webkit-box-shadow: inset 6.5em 0 0 0 var(--hover);
          box-shadow: inset 6.5em 0 0 0 var(--hover);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", sans-serif;
}

p, span, blockquote {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: "Oxygen", sans-serif;
}

strong {
  font-weight: 700;
}

/*** NAV BAR ***/
.h-nav__wrapper {
  max-width: 128rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 5rem;
}

.l-layout__content--common .h-nav__wrapper {
  position: relative;
  margin: 0 auto;
}

.l-layout__content--common ~ .h-nav__wrapper {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 10rem;
}

.h-nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Oxygen", sans-serif;
}

.h-nav__logo {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.h-nav {
  font-size: 2rem;
}

.h-nav__item {
  padding: 0 2rem;
}

/*** HERO HEADER ***/
.c-header--hero {
  background: #85c3be;
}

.c-header--hero__content {
  padding-top: 10rem;
  padding-bottom: 10rem;
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
}

.c-header--hero__content .c-header--hero__content__text {
  max-width: 50%;
}

.c-header--hero__content__button {
  margin-top: 3rem;
}

.c-header--hero__imagewrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 2rem);
          flex: 1 1 calc(50% - 2rem);
  -ms-flex-preferred-size: calc(50% - 2rem);
      flex-basis: calc(50% - 2rem);
  max-width: calc(50% - 2rem);
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-header--hero__imagewrapper img {
  display: block;
  width: 100%;
}

.c-header-wavewrap svg {
  width: 100%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: #85c3be;
}

/** Project Panel **/
.c-projects__wrapper {
  padding-left: 6rem;
  padding-right: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 2rem 2rem;
}

.c-panel {
  color: #000746;
  border: 0.3rem solid #000746;
  padding: 3rem;
  position: relative;
}

.c-panel:first-child {
  margin-top: 0;
}

.c-panel:nth-child(2) {
  margin-top: 15vw;
}

.c-panel:nth-child(3) {
  margin-top: -10vw;
}

.c-panel::after {
  display: block;
  position: absolute;
  background: #000746;
  width: 100%;
  height: 100%;
  top: 1rem;
  left: -1rem;
}

.c-panel__heading {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
}

.c-panel__imagewrapper {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 35rem;
  overflow: hidden;
}

.c-panel__heading + .c-panel__imagewrapper {
  margin-top: 2rem;
}

.c-panel__imagewrapper img {
  display: block;
  width: 100%;
}

.c-panel__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -.5rem;
  margin-right: -.5rem;
  margin-top: 2rem;
}

.c-panel__tags__item {
  background-color: #85c3be;
  border-radius: .3rem;
  margin: 0 .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-panel__tags__item__label {
  padding: .5rem 1rem;
  font-size: 1rem;
}

.c-panel__summary {
  margin-top: 2rem;
}

.c-panel__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.c-panel__btn {
  max-width: 50%;
  width: 100%;
}

/* Prototype shots */
.c-practice__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 2rem 2rem;
  margin-top: 2rem;
}

.c-prototype {
  border: 3px solid #000746;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

.c-prototype__icon {
  position: absolute;
  opacity: 0.5;
  font-size: 15rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10%;
  color: #ffffff;
}

.c-prototype__content {
  padding: 2rem;
  max-width: 85%;
}

.c-prototype__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/** Footer **/
.f-footer__credit {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */